<section id="demographics">

    <h1>COVID 19 Statistics (India)</h1>
    <div id="demograph-container">

        <div class="demo__right">

            <div class="demo-box" id="total-cases">
                <h3 class="card-title">Total Cases</h3>
                <h2 class="number-data">4.32 Cr+</h2>
                <img src="/images/covid-register.svg" alt="">
            </div>

            <div class="demo-box" id="active-cases">
                <h3 class="card-title">Active Cases</h3>
                <h2 class="number-data">94,047</h2>
                <img src="/images/covid-register.svg" alt="">   
            </div>


            <div class="demo-box" id="recovered-cases">
                <h3 class="card-title">Recovered Cases</h3>
                <h2 class="number-data">4,37,57,385</h2>
                <img src="/images/covid-register.svg" alt="">
            </div>


            <div class="demo-box" id="deceased-cases">
                <h3 class="card-title"> Deceased </h3>
                <h2 class="number-data">5,27,488</h2>
                <img src="/images/covid-register.svg" alt="">
            </div>

            

            <div class="demo-box" id="infected-cases">
                <h3 class="card-title"> Infected </h3>
                <h2 class="number-data">4,43,78,920</h2>
                <img src="/images/covid-register.svg" alt="">
            </div>


            <div class="demo-box" id="vaccinated-cases">
                <h3 class="card-title"> Vaccinated </h3>
                <h2 class="number-data">2,10,82,34,347</h2>
                <img src="/images/covid-register.svg" alt="">
            </div>


        </div>

        <div class="demo__left">

            <h3 class="card-title">
                Registrations Today
            </h3>

            <h2 class="number-data">11,344</h2>

            <p>You can open the portal using the link and click on the “Register” tab to register for COVID-19 vaccination or other health issues, and follow the steps thereafter.</p>
            <img src="/images/register_img.png" alt="">
        </div>

    </div>

</section>
    
