<section id="demographics">

    <h1>COVID 19 Statistics</h1>
    <div id="demograph-container">

        <div class="demo__right">

            <div class="demo-box" id="total-cases">
                <h3 class="card-title">Total Cases</h3>
                <h2 class="number-data">998743332</h2>
                <img src="/images/covid-register.svg" alt="">
            </div>

            <div class="demo-box" id="active-cases">
                <h3 class="card-title">Active Cases</h3>
                <h2 class="number-data">998743332</h2>
                <img src="/images/covid-register.svg" alt="">   
            </div>


            <div class="demo-box" id="recovered-cases">
                <h3 class="card-title">Recovered Cases</h3>
                <h2 class="number-data">998743332</h2>
                <img src="/images/covid-register.svg" alt="">
            </div>


            <div class="demo-box" id="deceased-cases">
                <h3 class="card-title"> Deceased </h3>
                <h2 class="number-data">998743332</h2>
                <img src="/images/covid-register.svg" alt="">
            </div>

            

            <div class="demo-box" id="infected-cases">
                <h3 class="card-title"> Infected </h3>
                <h2 class="number-data">998743332</h2>
                <img src="/images/covid-register.svg" alt="">
            </div>


            <div class="demo-box" id="vaccinated-cases">
                <h3 class="card-title"> Vaccinated </h3>
                <h2 class="number-data">998743332</h2>
                <img src="/images/covid-register.svg" alt="">
            </div>


        </div>

        <div class="demo__left">

            <h3 class="card-title">
                Registrations Today
            </h3>

            <h2 class="number-data">998743332</h2>

            <p>Lorem ipsum dolor sit  sit amet consecteiendis ansecteiendis animi omet consecteiendis animet consecteiendis anidiis animet consecteiendis</p>
            <img src="/images/register_img.png" alt="">
        </div>

    </div>

</section>
    
