<section class="demographics">

    <div class="demograph-container">

        <div class="demo__left">

            <h3 class="card-title">
                Registrations Today
            </h3>

            <h2 class="number-data">998743332</h2>

            <p>Lorem ipsum dolor sit  sit amet consecteiendis ansecteiendis animi omet consecteiendis animet consecteiendis anidiis animet consecteiendis</p>
            <img src="https://www.pngitem.com/pimgs/m/170-1708325_icons8-flat-pie-chart-flat-pie-chart-png.png" alt="">
        </div>

        <div class="demo__right">

            <div class="demo-box" id="total-cases">
                <h3 class="card-title">Total Cases</h3>
                <h2 class="number-data">998743332</h2>
                <p>Lorem ipsum dolor sit am? Placeat natus reiciendis animi odio quo dolore, accusamus error?</p>
                <img src="https://www.kindpng.com/picc/m/95-951785_an-area-chart-is-a-line-chart-with.png" alt="">
            </div>

            <div class="demo-box" id="active-cases">
                <h3 class="card-title">Active Cases</h3>
                <h2 class="number-data">998743332</h2>
                <p>Lorem ipsum dolor siceat natus reiciendis animi odio quo dolore, accusamus error?</p>
                <img src="https://www.kindpng.com/picc/m/95-951785_an-area-chart-is-a-line-chart-with.png" alt="">
            </div>


            <div class="demo-box" id="recovered-cases">
                <h3 class="card-title">Recovered Cases</h3>
                <h2 class="number-data">998743332</h2>
                <p>Lorem ipsum dot natus reiciendis animi odio quo dolore, accusamus error?</p>
                <img src="https://www.kindpng.com/picc/m/95-951785_an-area-chart-is-a-line-chart-with.png" alt="">
            </div>


            <div class="demo-box" id="deceased-cases">
                <h3 class="card-title"> Deceased </h3>
                <h2 class="number-data">998743332</h2>
                <p>Lorem ipst natus reiciendis animi odio quo dolore, accusamus error?</p>
                <img src="https://www.kindpng.com/picc/m/95-951785_an-area-chart-is-a-line-chart-with.png" alt="">
            </div>

            

            <div class="demo-box" id="infected-cases">
                <h3 class="card-title"> Infected </h3>
                <h2 class="number-data">998743332</h2>
                <p>Lorem ipsum aceat natus reiciendis animi odio quo dolore, accusamus error?</p>
                <img src="https://www.kindpng.com/picc/m/95-951785_an-area-chart-is-a-line-chart-with.png" alt="">
            </div>


            <div class="demo-box" id="vaccinated-cases">
                <h3 class="card-title"> Vaccinated </h3>
                <h2 class="number-data">998743332</h2>
                <p>Lorem ipsaceat natus reiciendis animi odio quo dolore, accusamus error?</p>
                <img src="https://www.kindpng.com/picc/m/95-951785_an-area-chart-is-a-line-chart-with.png" alt="">
            </div>


        </div>

    </div>

</section>
    
