<section id="info-table-container">
    <h1 class="user-heading"> <span>Locate </span> Centers </h1>
    <table class="info-table">
        <thead>
            <tr>
                <th>Sl. No</th>
                <th>Health Center</th>
                <th>Address</th>
                <th>Phone No</th>
            </tr>
        </thead>
           
        <tbody>
            <tr>
                <td>1</td>
                <td>Usha Health Center</td>
                <td>Tilakwadi, Belagavi</td>
                <td> +91 7947393941 </td>
            </tr>

            <tr>
                <td>2</td>
                <td>Arogya Health Center</td>
                <td>Ayodhya Nagar, Belagavi</td>
                <td> +91 7947323545 </td>
            </tr>

            <tr>
                <td>3</td>
                <td>Maatrutya Health Center</td>
                <td>Nehru Nagar, Belagavi</td>
                <td>+91 7942777102</td>
            </tr>

            <tr>
                <td>4</td>
                <td> Suvidhaa Health Center </td>
                <td>Gandhi Nagar, Belagavi</td>
                <td>+91 7947130951</td>
            </tr>

            <tr>
                <td>5</td>
                <td> MotherCare Maternity Home </td>
                <td>Adarsh Nagar, Belagavi</td>
                <td>+91 7947131000</td>
            </tr>

            <tr>
                <td>6</td>
                <td> Veerbhadra Arogyam </td>
                <td>Samadevi Galli, Belagavi</td>
                <td>+91 7947471149</td>
            </tr>

            <tr>
                <td>7</td>
                <td> Government Hospital</td>
                <td>Shahpur, Belagavi</td>
                <td>+91 7947386781</td>
            </tr>
        </tbody>
    </table>
</section>