<section id="map-container">

    <div id="map">
        <h1>Confirmed cases COVID-19  <span class="helper-text">(Statewise Data)</span> </h1>
        <img src="/images/map.gif" alt="">
    </div>
</section>