<section class="precautions" id="precautions">

    <h1 class="heading">
        Take precautions against Covid-19
    </h1>

    <div class="column">
        <div class="box-container">

            <h3 class="title">
                Things You Should DO
            </h3>
            

            <div class="box">
                <img src="/images/do-img1.png" alt="">
                <div class="info">
                    <h3>Wash your hands</h3>
                    <p>Washing your hands with soap and water or using alcohol-based hand rub kills
                        viruses that may be on your hands. anyone who is coughing or sneezing.</p>
                </div>
            </div>


            <div class="box">
                <img src="/images/do-img2.png" alt="">
                <div class="info">
                    <h3>Always wear a mask</h3>
                    <p>Wearing a well-fitted mask along with vaccination, self-testing, and physical
                        distancing, helps protect you and others by reducing the chance of spreading COVID-19.</p>
                </div>
            </div>


            <div class="box">
                <img src="/images/do-img3.png" alt="">
                <div class="info">
                    <h3>Stay Home during Fever</h3>
                    <p>Keeping space between yourself and other people outside your household during illness. It is a vital step in helping to slow the spread of this virus.</p>
                </div>
            </div>

        </div>

        <div class="box-container">

            <h3 class="title">
                Things You Should NOT DO
            </h3>
            

            <div class="box">
                <img src="/images/dont-img1.png" alt="">
                <div class="info">
                    <h3>Avoid Close contact with animal</h3>
                    <p>Avoid very close contact with the animals during these times as much as possible. Keep them hygenic and take care of their health with the advice of a certified practicioner</p>
                </div>
            </div>


            <div class="box">
                <img src="/images/dont-img2.png" alt="">
                <div class="info">
                    <h3>Avoid Close contact with people</h3>
                    <p>Physical Distancing Means Keeping Space Between Yourself And Other People Outside Your Household. It Is A Vital Step In Helping To Slow The Spread Of This Virus.</p>
                </div>
            </div>


            <div class="box">
                <img src="/images/dont-img3.png" alt="">
                <div class="info">
                    <h3>Avoid crowded areas</h3>
                    <p>During these pandemic times, avoid going to much crowded places as it could result in spread of the virus rapidly.</p>
                </div>
            </div>

        </div>

    </div>

</section>