<section class="prevent" id="prevent">
    <h1 class="heading">
        How to Prevent Virus
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="/images/pre-1.png" alt="">
            <h3>Wash your place</h3>
            <p>Cleaning and disinfecting high-touch surfaces in your home regularly is an
                important precaution to lower the risk of infection.</p>
        </div>


        <div class="box">
            <img src="/images/pre-2.png" alt="">
            <h3>Maintain Distance</h3>
            <p>Physical distancing means keeping space between yourself and other people
                outside your household. It is a vital step in helping to slow the spread of this virus.</p>
        </div>


        <div class="box">
            <img src="/images/pre-3.png" alt="">
            <h3>Don't Touch Face</h3>
            <p>To help prevent infections, keep your hands away from your eyes, nose, and
                mouth especially during the COVID-19 pandemic. Why? These mucous membranes are a portal of
                entry for germs that cause respiratory infections, including COVID-19.</p>
        </div>


        <div class="box">
            <img src="/images/pre-4.png" alt="">
            <h3>Wash your hands</h3>
            <p>Washing your hands with soap and water or using alcohol-based hand rub kills
                viruses that may be on your hands. anyone who is coughing or sneezing.</p>
        </div>


        <div class="box">
            <img src="/images/pre-5.png" alt="">
            <h3>Use Napkin</h3>
            <p>Cover your mouth and nose with a tissue/napkin when you cough or sneeze. Throw
                used tissues in the trash. If you don&#39;t have a tissue, cough or sneeze into your elbow, not your hands.</p>
        </div>


        <div class="box">
            <img src="/images/pre-6.png" alt="">
            <h3>Wear a mask</h3>
            <p>Wearing a well-fitted mask along with vaccination, self-testing, and physical
                distancing, helps protect you and others by reducing the chance of spreading COVID-19.</p>
        </div>

    </div>

</section>