<section class="user-home" id="user-home">

    <div class="image">
        <img src="/images/home-img.svg" alt="">
    </div>

    <div class="content">
        <h3>Stay Safe, Stay Healthy</h3>
        <p>Looking after health now and for the future in a
            changing world. In the ongoing pandemic, the UOC is seeking to share its knowledge but also to
            encourage citizens&#39; responsibility in health and well-being, in the broadest possible sense.</p>

        <button id="appointment-status" class="user-btn"> Appointment Status <span class="fas fa-chevron-right"></span> </button>
        <a href="#appointments" class="user-btn">Book Appointment <span class="fas fa-chevron-right"></span> </a>

        <%- include('../utils/logOut.ejs') %> 
    </div>

</section>