<section class="admin-container">
    <div class="sidebar">
        <ul class="sidebar-links">
            <li class="sidebar-link active">
                <a href="/admin">Appointments</a>
            </li>

            <li class="sidebar-link">
                <a href="/admin?only_approved_appointments=true"> Approved </a>
            </li>

            <li class="sidebar-link">
                <a href="/admin?only_declined_appointments=true"> Declined </a>
            </li>

            <li class="sidebar-link">
                <a id="sidebar-logout" href="/signIn"> Log Out </a>
            </li>
        </ul>
    </div>

    <div class="content-wrapper">
        
        <div class="appointment-content">
            <h4> Jon Doe </h4>
            <p>Heavy Fever since two weeks.</p>
        </div>

        <div class="appointment-content">
            <h4> Rohan Sharma </h4>
            <p> Chest Pain, Breathlessness </p>
        </div>

        <div class="appointment-content">
            <h4> Sachin Duggal </h4>
            <p> Diahorrea from yesterday </p>
        </div>

    </div>

</section>
