<section class="admin-container">
    <div class="sidebar">
        <ul class="sidebar-links">
            <li class="sidebar-link active">
                <a href="/admin">Appointments</a>
            </li>

            <li id="approved-link" class="sidebar-link">
                <a href="#" id="approved-appointments"> Approved </a>
            </li>

            <li id="declined-link" class="sidebar-link">
                <a href="#" id="declined-appointments"> Declined </a>
            </li>

            <li class="sidebar-link">
                <a id="sidebar-logout" href="/signIn"> Log Out </a>
            </li>
        </ul>
    </div>

    <div id="admin-content-wrapper" class="content-wrapper"></div>

</section>
